.return-icon{
    padding: 5px 10px;
    margin-right: 0px;
    position: fixed;
    top: 1%;
    right: 2%;
    cursor: pointer;
    font-size: 1.5em;
    border: none;
    background-color: black;
    color: white;
}

.return-icon :hover{
    color: #00ff88;
    margin: 0.1rem;
}